
.view td.views-field {
	font-size: 0.9em;
}

.view td.views-field.views-field-title {
	max-width: 170px !important;
	word-break:  break-all;
}


/* Highlights with red & bold style the overriden case view setups */
.views-displays .views-ui-display-tab-setting.overridden, .views-ui-display-tab-bucket.overridden > h3,
.views-ui-display-tab-bucket.overridden h3 {
	color: #F00;
	font-weight: bold;
}

.view table caption {
	text-align: left;
	margin:  16px 0 10px 0;
	font-size: 1.3em;
	font-weight: bold;
}


